table {
    
    width: 100%;
}
.filter{
    margin-top: 1rem;
}

.container{
    margin: 0 auto;
    width: 70%;
    padding-bottom: 70px;
}

th{
    width: 17%;
}

.pointer{
    padding: 3px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }