<app-navbar></app-navbar>
<div class="container">
    <div class="filter-button-container">
      <mat-form-field appearance="standard" class="filter">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mazda" #input>
          
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openAddCarDialog()">Add Car</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
   
        <ng-container matColumnDef="make">
          <th mat-header-cell *matHeaderCellDef> Make </th>
          <td mat-cell *matCellDef="let element"> {{element.make}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Model </th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
      
     
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> Year </th>
          <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <ng-container matColumnDef="VIN">
          <th mat-header-cell *matHeaderCellDef> VIN </th>
          <td mat-cell *matCellDef="let element"> {{element.VIN}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                <a class="pointer" style="color: #673AB7" matTooltip="Car information">
                    <mat-icon (click)="openInfoDialog(element.id, element.make, element.model,element.year,element.VIN)">info</mat-icon>
                </a>
                <a class="pointer" matTooltip="Edit Car" >
                    <mat-icon (click)="openEditDialog(element.id, element.make, element.model,element.year,element.VIN)">edit</mat-icon>
                </a>
                <a class="pointer" style="color: red;" matTooltip="Delete Car">
                    <mat-icon (click)="openDeleteDialog(element.id)">delete</mat-icon>
                </a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
  
  