table {
    
    width: 100%;
}
.filter{
    margin-top: 1rem;
}
.filter-button-container{
    display: flex;
    margin: auto 0;
    
    justify-content: center;
    width: 100%;
}

.filter-button-container button{
    height: 40px;
    margin-top: 1.9rem;
    margin-left: 2rem;
}
.container{
    margin: 0 auto;
    width: 70%;
    padding-bottom: 70px;
}

th{
    width: 15%;
}

.pointer{
    padding: 3px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }